@import "../../../common/styles/colors/colors";

.button__scroll {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: $black;
  border: 1px solid $gray;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $red;
  }

  &_hidden {
    display: none;
  }
}