@import '../../common/styles/colors/colors';
@import '../../common/styles/mixins/mixins';
body {
  background-color: $background;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  @include block;
  @include flex-center;
  padding-top: 20px;
  padding-bottom: 50px;
}