@import '../../../common/styles/colors/colors';
@import '../../../common/styles/mixins/mixins';

.pokemon {
  @include flex-column-center;
  gap: 20px;
  width: 100%;
  position: relative;
  margin: 0 30px;

  &__cards {
    @include flex-center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  &__container {
    margin-top: 50px;
  }

  &__text {
    width: 300px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 2px solid $white-blue;
    border-radius: 10px;
    background-color: $white;
  }

  &__img {
    width: 400px;
    margin-left: 150px;
  }
}

