@import '../../../common/styles/colors/colors';
@import '../../../common/styles/mixins/mixins';


.pokedex {
  width: 600px;
  height: 1000px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #ff4757;
  display: flex;
  flex-direction: column;
  overflow: hidden;


  &__top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__screen {
    width: 90%;
    height: 85%;
    background-color: $white;
    border: 2px solid #333;
    border-radius: 5px;
  }

  &__bottom {
    background-color: #ff6b81;
    padding: 10px;
    border-top: 2px solid #333;
    display: flex;
    justify-content: center;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__back {
    border: none;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    padding: 5px 100px;
    border-radius: 10px;
    background-color: #333;
  }

  &__button {
    @include flex-center;
    width: 50px;
    height: 50px;
    background-color: #333;

    &_small {
      margin-left: 60px;
      background: $green;
      height: 100px;
      width: 35px;
      position: relative;
      border-radius: 5px;

      &:after {
        content: "";
        height: 35px;
        width: 100px;
        background: $green;
        position: absolute;
        border-radius: 5px;
        left: -32.5px;
        top: 32.5px;
      }
    }
  }
}