@import '../../../common/styles/mixins/mixins';
.pokeball {
  @include pokeball;
  width: 120px;
  height: 120px;
  animation: frames 1.2s  linear 0s infinite;
}

@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}