$btn-color: #1A3E3E;
$background: #F3F5F4;
$white: #FFF;
$black: #000;
$black-text: #565656;
$gray-blue: #89C3D6;
$silver: #C0C0C0;
$light-gray: #dadada;
$gray: #a4a4a4;
$green: #177a17;
$white-blue: #c2e1ff;
$blue-sky: #30a7d7;
$font-description: #b7b7b7;
$active-header: #ff0f5e;
$red: #ea6363;